@import "tailwindcss";

@theme {
  --color-primary: #1E3ABA;
  --color-secondary: #9333EA;
  --font-sans: 'Inter', sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}